.App {
  background-color: #93f9fd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_counter{
  background-color: rgb(239, 95, 95);
  height: 260px;
  width: 410px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  display: flex;
  
}